# Binários compilados
/bin/
out/

# Arquivos temporários e de backup
*.tmp
*.bak
*.log

# Arquivos de configuração de IDEs e ambientes de desenvolvimento
.vscode/
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Arquivos de sistema
.DS_Store
Thumbs.db